APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1USERNAME = usernamePASSWORD = passwordHOSTPORT = 3306DATABASE = stdpCHARSET = utf8mb4PREFIX = stdp_DEBUG = true[JWT]SECRET = c884cf72e91cd5cb5fdc2e76d424257c[LANG]default_lang = zh-cn