APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1USERNAME = usernamePASSWORD = passwordHOSTPORT = 3306DATABASE = stdpCHARSET = utf8mb4PREFIX = stdp_DEBUG = true[CACHE]DRIVER = redisREDIS_HOST = 127.0.0.1REDIS_PORT = 6379REDIS_PASSWORD = passwordREDIS_SELECT = 0[FILESYSTEM]DRIVER = qiniuQINIU_ACCESS_KEY = aaaaaQINIU_SECRET_KEY = sssssQINIU_BUCKET = resstdpQINIU_DOMAIN = resstdp.51os.xyz[JWT]SECRET = c884cf72e91cd5cb5fdc2e76d424257c[LANG]default_lang = zh-cn